<div class="mainPlanetCardContainerClass">

<img src="./assets/img/exoplanet01.webp" alt="">

<h2>Planetname</h2>
<!-- <p>Orbital period [days]</p>
<p>Planet radius [earth radius]</p>
<p>Planet Mass [earth mass]</p>
<p>Equilibrium temperature</p> -->

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>Property</th>
            <th>Unit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Orbital period</td>
            <td>[days]</td>
        </tr>
        <tr>
            <td>Planet radius</td>
            <td>[earth radius]</td>
        </tr>
        <tr>
            <td>Planet Mass</td>
            <td>[earth mass]</td>
        </tr>
        <tr>
            <td>Equilibrium temperature</td>
            <td>[temperature]</td>
        </tr>
    </tbody>
</table>

<div><button>Previous stats</button><button>Next stats </button></div>


</div>